body {
    /* margin: 0; */
    height: 400vh;
    /* background: #b4b4b4; */
    cursor: help;
}


.ball {
    position: relative;
    z-index: 1000;
}

#pink {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(184, 0, 0, 0.1);
    /* position: relative; */
    top: 10vh;
    left: 200px;
}

body {
    margin: 0;
    height: 100vh;
    background: #333333;
    cursor: help;
}