body {
    height: 260vh;
    background-color: #e9d9b8;
    cursor: help;
}


.box {
    top: 20vh;
    position: relative;
    height: 200px;
    width: 410px;
    color: white;
    margin: 100px auto;
    padding: 100px;
    box-sizing: border-box;
    transition: all 500ms ease;
    border-radius: 50%;
}

@keyframes box1ani {
    0% {
        background-color: #ec4c4c;
    }

    50% {
        background-color: #c1ec4c;
    }

    100% {
        background-color: #ec4c4c;
    }
}

#squareA {
    top: -18vh;
    left: -46vw;
    position: relative;
    background: transparent;
}


#squareA .square {
    width: 140px;
    height: 140px;
    position: absolute;
    background: rgb(230, 203, 82);
    transition: all 100ms ease-in;
    border-radius: 50%;
    animation: box1aniB 2s ease-in-out infinite;
}


@keyframes box1aniB {
    0% {
        /* transform: scale(.3); */
        background-color: #2bad9c
    }

    50% {
        /* transform: scale(1.7); */
        background-color: #ec794c
    }

    100% {
        /* transform: scale(.3); */
        background-color: #2bad9c;
    }
}


#squareB {
    position: relative;
    top: 50vh;
    background: transparent;
}


#squareB .square1 {
    animation: box1ani 2s ease-in-out infinite;
    width: 40px;
    height: 40px;
    position: absolute;
    background: rgb(230, 203, 82);
    transition: all 100ms ease-in;
    animation: box1ani 2s ease-in-out infinite;
}




#squareC {
    position: relative;
    top: 80vh;
    background: transparent;
    size: 100%;

}


#squareC .square2 {
    width: 40px;
    height: 40px;
    position: absolute;
    background: rgb(230, 203, 82);
    transition: all 100ms ease-in-out;
}

.square2:hover {
    animation: box1aniA 1s infinite;
    transition: 1s;
    border-radius: 50%;
}

@keyframes box1aniA {
    0% {
        transform: rotate(-360deg);
        /* background-color: #ec4c4c; */
        /* opacity: 0; */
    }

    50% {
        /* transform: translateX(-30px) skew(-20deg) scale(1.4);
        background-color: #c1ec4c; */
    }

    100% {
        transform: rotate(0);
        /* background-color: #ec4c4c; */
        /* opacity: 1; */
    }
}