body {
    height: 500vh;
    background-color: #e9d9b8;
    cursor: help;
}


.box {
    top: 20vh;
    position: relative;
    height: 200px;
    width: 410px;
    color: white;
    margin: 100px auto;
    padding: 100px;
    box-sizing: border-box;
    transition: all 500ms ease;
    border-radius: 50%;
}


#squareA {
    top: 400vh;
    left: -46vw;
    position: relative;
    background: transparent;
}


#squareA .square {
    width: 140px;
    height: 140px;
    position: absolute;
    background: rgb(230, 203, 82);
    transition: all 100ms ease-in;
    border-radius: 50%;
    /* background-image: url(../p2/flash3120.jpg); */
    /* animation: box1aniB 2s ease-in-out infinite; */
}


@keyframes box1aniB {
    0% {
        /* transform: scale(.3); */
        background-color: #2bad9c
    }

    50% {
        /* transform: scale(1.7); */
        background-color: #ec794c
    }

    100% {
        /* transform: scale(.3); */
        background-color: #2bad9c;
    }
}


#squareB {
    position: relative;
    top: 120vh;
    left: -14vw;
    background: transparent;
    animation: box1ani 2s linear infinite;
    transform-origin: 100% 200%;
}


#squareB .square1 {
    width: 40px;
    height: 40px;
    position: absolute;
    background: rgb(230, 203, 82);
    transition: all 10s linear;

}

.square1:hover {
    transition: 10s ease-in-out;
    cursor: s-resize;
    /* background: #e41d5f !important; */

    /* background: url(flash3120.jpg) no-repeat center center;
    background-size: 40px 40px; */

}


@keyframes box1ani {
    0% {
        transform: rotate(-360deg)
    }


    100% {
        transform: rotate(0deg)
    }
}


#squareC {
    position: relative;
    top: -76vh;
    left: -14vw;
    background: transparent;
    size: 100%;

}


#squareC .square2 {
    width: 80px;
    height: 80px;
    position: absolute;
    background: rgb(230, 203, 82);
    transition: all 100ms ease-in-out;
    animation: box1aniA 1s infinite;
}

.square2:hover {
    transition: 1s ease-in-out;
    border-radius: 50%;
    background: #b30000 !important;
    cursor: s-resize;
}

@keyframes box1aniA {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0);
    }
}


.arrow {
    top: 20vh;
    left: 40vw;
    position: relative;
    /* margin: 100px auto; */
    /* padding: 100px; */
    box-sizing: border-box;
    transition: all 500ms ease;
    /* border-radius: 50%; */
}


#N1 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -76vh;
    left: 8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N2 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -76vh;
    left: 8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N3 {
    background: rgba(230, 203, 82, 0);
    position: relative;
    top: -76vh;
    left: 8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N6 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -84vh;
    left: 8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N4 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -79.7vh;
    left: 6.2vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N5 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -83.4vh;
    left: 9.8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}






.arrow2 {
    top: 240vh;
    left: 40vw;
    position: relative;
    /* margin: 100px auto; */
    /* padding: 100px; */
    box-sizing: border-box;
    transition: all 500ms ease;
    /* border-radius: 50%; */
}

#N7 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -76.1vh;
    left: 8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N8 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -76vh;
    left: 8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N9 {
    background: rgba(230, 203, 82, 0);
    position: relative;
    top: -76vh;
    left: 8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N10 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -76vh;
    left: 8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N11 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -83.4vh;
    left: 6.2vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}

#N12 {
    background: rgb(230, 203, 82);
    position: relative;
    top: -87.2vh;
    left: 9.8vw;
    height: 26px;
    width: 26px;
    animation: box1aniA 1s infinite;
}