/* .p {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
} */

body {
    background-color: rgb(66, 66, 66);
    height: 520vh;
}

h1 {
    position: absolute;
    color: rgb(60, 60, 60);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: 600; */
    font-size: 120px;
    top: 140vh;
    left: 360px;
    width: 760px;
    z-index: 10001;
}

/* #carbonBox {
    perspective: 500px;
    position: absolute;
    top: 231vh;
    left: 350px;
} */



h2 {
    color: rgb(65, 65, 65);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200px;
    letter-spacing: -10px;
    position: absolute;
    top: 186vh;
    left: 360px;
    z-index: 10001;
    /* margin: 0;
    padding: 0; */
    /* -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2000ms; */
    /* transform: translate3d(0, 0, 0); */
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-1 16:58:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}



#scroller {
    /* width: 600px; */
    height: 600px;
    overflow: hidden;
    font-family: masqualero, sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 280px;
    color: #a1a1a1;
    position: absolute;
    top: 40px;
    left: 60px;
}

#scroller .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: linear-gradient(0, rgba(66, 66, 66, 0), rgba(66, 66, 66, 1));
    z-index: 100;
}



/* .big.mask {
    position: sticky;
    top: 0px;
    margin-top: 920px;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(0, rgba(66, 66, 66, 0), rgba(66, 66, 66, 1));
    z-index: 100;
    border-color: rgba(66, 66, 66, 1);
    border-top: 10px solid; */


#scroller .mask.bottom {
    top: unset;
    bottom: 0;
    background: linear-gradient(180deg, rgba(66, 66, 66, 0), rgba(66, 66, 66, 1));
}


#scroller p {
    margin: 0;
    animation: scrollUp 3000ms linear infinite;
}


@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-350px);
    }
}


.p1 {
    width: 380px;
    height: 400px;
    position: absolute;
    top: 284vh;
    left: 150px;
    /* bottom: 200px; */
    color: rgb(197, 197, 197);
    /* padding: 50px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 10001;
}

#smokey {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

#screen {
    width: 450px;
    color: rgba(66, 66, 66, 1);
    position: absolute;
    right: 200px;
    top: 290vh;
    z-index: 10001;
}

.p3 {
    width: 1110px;
    height: 400px;
    position: absolute;
    top: 400vh;
    left: 150px;
    /* bottom: 200px; */
    color: rgb(197, 197, 197);
    /* padding: 50px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 46px;
    font-weight: 600;
    z-index: 10001;
}

.p2 {
    position: absolute;
    top: 500vh;
    left: 600px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: 400;
    z-index: 10001;
}