html {
    scroll-behavior: smooth;
}

body {
    perspective: 1000px;
    perspective-origin: 50vw 50vh;
    background-color: #C7C6C6;
    height: 1020vh;

}

.top {
    color: #C7C6C6;
    top: 0px;
    position: absolute;
    color: #1d1d1b;
    opacity: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

#top1 {
    top: 168vh;
    opacity: .6;
}

#top2 {
    top: 318vh;
    opacity: .6;
}

#top3 {
    top: 468vh;
    opacity: .6;
}

#top4 {
    top: 618vh;
    opacity: .6;
}

#top5 {
    top: 768vh;
    opacity: .6;
}

#top6 {
    top: 918vh;
    opacity: .6;
}


.link:visited {
    text-decoration: none;
    color: #1d1d1b;
    opacity: 0.6;
}

.link:link {
    text-decoration: none;
    color: #1d1d1b;
    opacity: 0.6;
}


#cube {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 45deg);
    transform-origin: 50% 50% 100px;

    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    transition: transform 100ms ease;
    animation: cubeRotationThree 66s infinite;
}

#cube.stop {
    animation: none;
}

@keyframes cubeRotationThree {
    0% {
        transform: rotate3d(8, 8, 8, 0deg)
    }

    50% {
        transform: rotate3d(-8, -8, 8, 1080deg);
    }

    100% {
        transform: rotate3d(0, 8, 8, 0deg);
    }
}


.face {
    box-sizing: border-box;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 50% 100px;
    /*   opacity:0.5; */
}

/* .face:hover {
    background: black;
    background-image: url(../final/final/1.jpg);
    background-size: cover;
} */

#one.active {
    background: black;
    background-image: url(../final/final/7.jpg);
    background-size: cover;
}

#two.active {
    background: black;
    background-image: url(../final/final/14.jpg);
    background-size: cover;
}

#three.active {
    background: black;
    background-image: url(../final/final/16.jpg);
    background-size: cover;
}

#four.active {
    background: black;
    background-image: url(../final/final/29.jpg);
    background-size: cover;
}

#five.active {
    background: black;
    background-image: url(../final/final/41.jpg);
    background-size: cover;
}

#six.active {
    background: black;
    background-image: url(../final/final/27.jpg);
    background-size: cover;
}

#two {
    /*   background:pink; */
    transform: rotateY(-90deg);
}

#three {
    /*   background:red; */
    transform: rotateY(90deg);
}

#four {
    /*   background:blue; */
    transform: rotateY(180deg);
}

#five {
    /*   background:purple; */
    transform: rotateX(-90deg);
}

#six {
    /*   background:cyan; */
    transform: rotateX(-90deg);
}




.title {
    position: absolute;
    color: #1d1d1b;
    opacity: 0.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
}

.title:hover {
    opacity: 1;
}


.homeTitle {
    z-index: 1000000;
}



#T1 {
    top: 16vh;
    left: 4vw;
}

#T2 {
    top: 46vh;
    left: 4vw;
}

#T3 {
    top: 76vh;
    left: 4vw;
}

#T4 {
    top: 16vh;
    right: 4vw;
    text-align: right;
}

#T5 {
    top: 46vh;
    right: 4vw;
    text-align: right;
}

#T6 {
    top: 76vh;
    right: 4vw;
    text-align: right;
}

.text {
    position: absolute;
    font-family: 'times', serif;
    font-size: 1.3em;
    color: #ffffff;
    width: 34%;
    /* column-count: 2; */
    letter-spacing: .5px;
    column-gap: 40px;
}


/* cloud */
.P1 {
    position: absolute;
    top: 90vh;
    left: 44vw;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(136, 15, 15);
}

.P2 {
    position: absolute;
    top: 170vh;
    right: 10vw;
    font-family: 'avenir', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    color: #1d1d1b;
    /* line-height: 2.2; */
}

#text1 {
    top: 208vh;
    left: 55vw;
}

.pg1 {
    position: absolute;
    top: 238vh;
    left: 4vw;
    width: 210px;
    height: 210px;
}

.pg1:hover {
    cursor: pointer;
}

#img1 {
    background-image: url(../final/final/1.jpg);
    background-size: cover;
}

#img2 {
    background-image: url(../final/final/2.jpg);
    background-size: cover;
    left: 19vw;
}

#img3 {
    background-image: url(../final/final/3.jpg);
    background-size: cover;
    left: 34vw;
}

#img4 {
    background-image: url(../final/final/4.jpg);
    background-size: cover;
    left: 49vw;
}

#img5 {
    background-image: url(../final/final/5.jpg);
    background-size: cover;
    left: 64vw;
}

#img6 {
    background-image: url(../final/final/6.jpg);
    background-size: cover;
    left: 79vw;
}

#bigImage {
    width: 640px;
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 172vh;
    left: 4vw;
}

.hasBeenSelected .pg1 {
    opacity: 0.3;
}

.currentlySelected.pg1 {
    opacity: 1;
}



/* Boides */
.P3 {
    position: absolute;
    top: 320vh;
    left: 50vw;
    font-family: 'avenir', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    color: #1d1d1b;
    letter-spacing: -0.02em;
    left: 4vw;
    /* line-height: .2; */
}

#text2 {
    top: 348vh;
    left: 8vw;
}

.pg2 {
    position: absolute;
    left: 4vw;
    width: 80px;
    height: 80px;
}

.pg2:hover {
    cursor: pointer;
}

#img8 {
    background-image: url(../final/final/8.jpg);
    background-size: cover;
    left: 79vw;
    top: 342vh;
}

#img9 {
    background-image: url(../final/final/9.jpg);
    background-size: cover;
    left: 79vw;
    top: 354vh;
}

#img10 {
    background-image: url(../final/final/10.jpg);
    background-size: cover;
    left: 79vw;
    top: 366vh;
}

#img11 {
    background-image: url(../final/final/11.jpg);
    background-size: cover;
    left: 79vw;
    top: 378vh;
}

#img12 {
    background-image: url(../final/final/12.jpg);
    background-size: cover;
    left: 79vw;
    top: 390vh;
}

#img13 {
    background-image: url(../final/final/13.jpg);
    background-size: cover;
    left: 79vw;
    top: 402vh;
}

.hasBeenSelected2 .pg2 {
    opacity: 0.3;
}

.currentlySelected2.pg2 {
    opacity: 1;
}

#bigImage2 {
    width: 1300px;
    height: 620px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 332vh;
    left: 4vw;
}


/* Aerocene */
.P4 {
    position: absolute;
    top: 522vh;
    left: 62vw;
    font-family: 'avenir', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    color: #1d1d1b;
    /* line-height: .2; */
}

#text3 {
    top: 533vh;
    left: 62vw;
}

.pg3 {
    position: absolute;
    /* top: 538vh;
    left: 4vw; */
    width: 120px;
    height: 120px;
}

.pg3:hover {
    cursor: pointer;
}

#img15 {
    background-image: url(../final/final/15.jpg);
    background-size: cover;
    left: 62vw;
    top: 486vh;
}

#img16 {
    background-image: url(../final/final/16.jpg);
    background-size: cover;
    left: 62vw;
    top: 504vh;
}

#img17 {
    background-image: url(../final/final/17.jpg);
    background-size: cover;
    left: 72vw;
    top: 486vh;
}

#img18 {
    background-image: url(../final/final/18.jpg);
    background-size: cover;
    left: 72vw;
    top: 504vh;
}

#img19 {
    background-image: url(../final/final/19.jpg);
    background-size: cover;
    left: 82vw;
    top: 486vh;
}

#img20 {
    background-image: url(../final/final/20.jpg);
    background-size: cover;
    left: 82vw;
    top: 504vh;
}

.hasBeenSelected3 .pg3 {
    opacity: 0.3;
}

.currentlySelected3.pg3 {
    opacity: 1;
}

#bigImage3 {
    width: 800px;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 472vh;
    left: 4vw;
}


/*  14 billions */
.P5 {
    position: absolute;
    top: 620vh;
    right: 15vw;
    font-family: 'avenir', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    z-index: 1000000000;
    /* line-height: .2; */
}

#text4 {
    top: 648vh;
    left: 6vw;
    color: red;
}

.pg4 {
    position: absolute;
    top: 688vh;
    left: 4vw;
    width: 210px;
    height: 210px;
}

.pg4:hover {
    cursor: pointer;
}

#img30 {
    background-image: url(../final/final/30.jpg);
    background-size: cover;
    border-style: solid;
    border-color: red;
}

#img31 {
    background-image: url(../final/final/31.jpg);
    background-size: cover;
    border-style: solid;
    left: 19vw;
    border-color: red;
}

#img32 {
    background-image: url(../final/final/32.jpg);
    background-size: cover;
    border-style: solid;
    left: 34vw;
    border-color: red;
}

#img33 {
    background-image: url(../final/final/33.jpg);
    background-size: cover;
    border-style: solid;
    left: 49vw;
    border-color: red;
}

#img34 {
    background-image: url(../final/final/34.jpg);
    background-size: cover;
    border-style: solid;
    left: 64vw;
    border-color: red;
}

#img35 {
    background-image: url(../final/final/35.jpg);
    background-size: cover;
    border-style: solid;
    left: 79vw;
    border-color: red;
}

.hasBeenSelected4 .pg4 {
    opacity: 0.3;
}

.currentlySelected4.pg4 {
    opacity: 1;
}

#bigImage4 {
    width: 1294px;
    height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 616vh;
    left: 4vw;
}


/*  spider */


.P6 {
    position: absolute;
    top: 770vh;
    right: 15vw;
    font-family: 'avenir', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    color: #ffffff;
    z-index: 10000000000;
    /* line-height: .2; */
}

#text5 {
    top: 832vh;
    left: 50vw;
    z-index: 10000000000;
}

.pg5 {
    position: absolute;
    width: 210px;
    height: 210px;
}

.pg5:hover {
    cursor: pointer;
}

#img36 {
    background-image: url(../final/final/36.jpg);
    background-size: cover;
    top: 772vh;
    left: 4vw;
}

#img37 {
    background-image: url(../final/final/37.jpg);
    background-size: cover;
    top: 804vh;
    left: 4vw;
}

#img38 {
    background-image: url(../final/final/38.jpg);
    background-size: cover;
    top: 836vh;
    left: 4vw;
}

#img39 {
    background-image: url(../final/final/39.jpg);
    background-size: cover;
    top: 772vh;
    right: 4vw;
}

#img40 {
    background-image: url(../final/final/40.jpg);
    background-size: cover;
    top: 804vh;
    right: 4vw;
}

#img42 {
    background-image: url(../final/final/42.jpg);
    background-size: cover;
    top: 836vh;
    right: 4vw;
}

.hasBeenSelected5 .pg5 {
    opacity: 0.3;
}

.currentlySelected5.pg5 {
    opacity: 1;
}

#bigImage5 {
    width: 1020px;
    height: 744px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 768vh;
    left: 15vw;
}



/*  hybrid */
.P7 {
    position: absolute;
    top: 920vh;
    left: 8vw;
    font-family: 'avenir', sans-serif;
    font-size: 3.4em;
    font-weight: bold;
    color: #1d1d1b;
    /* line-height: .2; */
}

#text6 {
    top: 950vh;
    left: 8vw;
}

.pg6 {
    position: absolute;
    top: 988vh;
    right: 4vw;
    width: 210px;
    height: 210px;
}

.pg6:hover {
    cursor: pointer;
}

#img22 {
    background-image: url(../final/final/22.jpg);
    background-size: cover;

}

#img23 {
    background-image: url(../final/final/23.jpg);
    background-size: cover;
    top: 988vh;
    right: 19vw;
}

#img24 {
    background-image: url(../final/final/24.jpg);
    background-size: cover;
    right: 34vw;
}

#img25 {
    background-image: url(../final/final/25.jpg);
    background-size: cover;
    right: 49vw;
}

#img26 {
    background-image: url(../final/final/26.jpg);
    background-size: cover;
    right: 64vw;
}

#img28 {
    background-image: url(../final/final/28.jpg);
    background-size: cover;
    right: 79vw;
}

.hasBeenSelected6 .pg6 {
    opacity: 0.3;
}

.currentlySelected6.pg6 {
    opacity: 1;
}

#bigImage6 {
    width: 640px;
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 922vh;
    right: 4vw;
}