body {
    width: 50vh;
    height: 50vw;
}

.box {
    position: fixed;
    top: calc(50vh - 20vmin);
    left: calc(50vw - 20vmin);
    width: 40vmin;
    height: 40vmin;
    background: #7c7c7c;
    transition: all ease;
}

@media only screen and (max-width: 600px) {
    .box {
        animation: box1 .2s ease-in-out;
        animation-fill-mode: forwards;
    }
}

@media only screen and (min-width: 601px) {
    .box {
        /* animation: box1 2s ease-in-out;
        animation-fill-mode: backwards; */
    }
}

@keyframes box1 {
    0% {
        transform: rotate(0deg);
        background: #7c7c7c;
    }

    25% {
        transform: rotate(90deg);
        background: #e0c73c;
    }

    50% {
        transform: rotate(180deg);
        background: #e03c3c;
    }

    75% {
        transform: rotate(270deg);
        background: #3c9ee0;
    }

    100% {
        transform: rotate(360deg);
        background: #7c7c7c;
    }
}